* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: rgb(153, 205, 221);
    font-family: Bradley Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    border: 1px solid blue;
    padding: 20px;
    margin: 10px;
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-color: aliceblue;
    border: 2px solid black;
    
}
#description {
    font-weight: lighter;
    color: rgb(61, 129, 129);
    background-color: rgb(153, 205, 221);
    max-width: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    border: 1px solid rgb(39, 75, 109);
    padding: 10px;
}


h1.heading {
    display: flex;
    font-size: 40px;
    color: rgb(59, 37, 37);
    margin: 10px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

img.carmie {
    height: 400px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



.recipe-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;

.recipe {
    text-align: center;
    margin: 0 0px;
}

.recipe img {
    max-width: auto;
    height: 300px;
    border: 2px solid rgb(61, 129, 129);
    margin-bottom: 30px;
  
    
}



footer {
    margin-top: 100px; 
    text-align: center; 
}

.footer-content {
    padding: 50px; 
}
