
header {
    background-color: rgb(153, 205, 221);
    font-family: Bradley Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;

    display: flex;
    justify-content: space-around;        
}

.links {
    border: 3px solid #fff;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 5px;
    
}

.links a {
    text-decoration: none;
    color: rgb(39, 119, 128);
    transition: color 0.3s, background-color 0.3s;

}
.links:hover {
    color: purple;
    
    background-color: aqua;
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-color: aliceblue;
}
#description {
    font-weight: lighter;
    color: rgb(61, 129, 129);
    background-color: rgb(153, 205, 221);
    max-width: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    
    flex-direction: column;
    margin: 30px auto;
    border: 3px solid rgb(90, 196, 161);
    padding: 5px;
}


h1.heading {
    display: flex;
    font-size: 40px;
    color: rgb(61, 129, 129);
    margin: 10px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

img.carmie {
    height: 300px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}



.recipe-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
    padding: 10px;
    max-width: 800px;
    
    margin: 0 auto;
    margin-top: 5px;

.recipe {
    text-align: center;
    margin: 0 0px;
}

.recipe img {
    max-width: auto;
    height: 300px;
    border: 2px solid rgb(61, 129, 129);
    margin-bottom: 30px;
  
    
}


#lasagna-button, #paella-button, #pesto-pasta-button {
    border: 3px solid rgb(90, 196, 161);
    padding: 8px 20px;
    background-color: rgb(153, 205, 221);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    color: rgb(61, 129, 129);
    
    
    
    


}

 #lasagna-button:hover, #paella-button:hover, #pesto-pasta-button:hover {
    color: rgb(173, 9, 173);
    background-color: rgb(173, 224, 224);
    
    
}

.paella-button a, .lasagna-button a, .pesto-pasta-button a {
    text-decoration: none;
}


.return-to-top {
    
    text-align: center;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
    border: 2px solid white;

}



}