* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: rgb(153, 205, 221);
    font-family: Bradley Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    border: 3px solid rgb(90, 196, 161);
    padding: 5px;
    margin: 2px;           
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-color: aliceblue;
    
    
}
#description {
    font-weight: lighter;
    color: rgb(61, 129, 129);
    background-color: rgb(153, 205, 221);
    max-width: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    border: 3px solid rgb(90, 196, 161);
    padding: 5px;
}


h1.heading {
    display: flex;
    font-size: 40px;
    color: rgb(59, 37, 37);
    margin: 10px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

img.carmie {
    height: 300px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}



.recipe-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;

.recipe {
    text-align: center;
    margin: 0 0px;
}

.recipe img {
    max-width: auto;
    height: 300px;
    border: 2px solid rgb(61, 129, 129);
    margin-bottom: 30px;
  
    
}


#lasagna-button, #paella-button, #pesto-pasta-button {
    border: 3px solid rgb(90, 196, 161);
    padding: 8px 20px;
    background-color: rgb(153, 205, 221);
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: rgb(61, 129, 129);


}

 #lasagna-button:hover, #paella-button:hover, #pesto-pasta-button:hover {
    color: purple;
}



footer {
    margin-top: 100px; 
    text-align: center; 
}

.footer-content {
    padding: 50px; 
    margin-top: 50px;
}

}